.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 60vh;
}

.text-blue{
    color: blue;
}

.btn{
    width: 80%;
    margin:auto;
}

.btn-default{
    background-color: #888;
    padding: 1rem 2rem;
    color: #FFF;
}